<h3>Registered Users</h3>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>City</th>
    <th>Email</th>
    <th>Phone</th>
    <th>QR Code ID</th>
  </tr>
  {% for user in users %}
    <tr>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.qr_id }}</td>
    </tr>
  {% endfor %}
</table>
<a href="{{ url_for('download_users_csv') }}" class="download-btn">Download CSV</a>
